{% load static %}
<nav>
    <ul class="sidebar">
        <li onclick="hideSidebar()"><a href="#">X</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'user_detail' %}">Profile</a></li>
        <li><a href="{%url 'logout'%}">Logout</a></li>
        {% else %}
        <li><a href="/login/">Login / Register</a></li>
        {% endif%}
    </ul>
    <ul>
        <li><a href="{% url 'home' %}">SHDT</a></li>
        {% if user.is_authenticated %}
        <li class="hideOnMobile"><a href="#">
            {% if user.userdetail.profile_picture %}
            <img class="nav-profile-pic" src="{{user.userdetail.profile_picture.url}}" alt="Profile"/>
            {%else%}
            <img class="nav-profile-pic" src="{% static 'images/default_profile_picture.jpg' %}" alt="Profile">
            {%endif%}
        </a>
        <ul class="dropdown">
            <li><a href="{% url 'user_detail' %}">Profile</a></li>
            <li><a href="{%url 'logout'%}">Logout</a></li>
        </ul>
    </li>
        {% else %}
        <li><a class="hideOnMobile" href="/login/">Login / Register</a></li>
        {% endif%}
        <li class="menu-button" onclick="showSidebar()">
            <a href="#">Menu</a>
        </li>
    </ul>
</nav>