{% load static %}
<!-- SIDEBAR -->
<section class= "hide" id="sidebar">
    <a href="#" class="brand">
        <i class="bx bx-plus-medical"></i>
        <span class="text">SHDT</span>
    </a>
    <ul class="side-menu top">
        <li class="active">
            <a href="{% url 'home' %}">
                <i class="bx bxs-dashboard"></i>
                <span class="text">Dashboard</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="bx bxs-shopping-bag-alt"></i>
                <span class="text">My Store</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="bx bxs-doughnut-chart"></i>
                <span class="text">Analytics</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="bx bxs-message-dots"></i>
                <span class="text">Message</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="bx bxs-group"></i>
                <span class="text">Team</span>
            </a>
        </li>
    </ul>
    <ul class="side-menu">
        <li>
            <a href="#">
                <i class="bx bxs-cog"></i>
                <span class="text">Settings</span>
            </a>
        </li>
        <li>
            <a href="{%url 'logout'%}" class="logout">
                <i class="bx bxs-log-out-circle"></i>
                <span class="text">Logout</span>
            </a>
        </li>
    </ul>
</section>
<!-- SIDEBAR -->

<!-- CONTENT -->
<section id="content">
    <!-- NAVBAR -->
    <nav>
        <i class="bx bx-menu"></i>
        <a href="#" class="nav-link">Categories</a>
        <form action="#">
            <div class="form-input">
                <input type="search" placeholder="Search..." />
                <button type="submit" class="search-btn">
                    <i class="bx bx-search"></i>
                </button>
            </div>
        </form>
        {% comment %} <input type="checkbox" id="switch-mode" hidden />
        <label for="switch-mode" class="switch-mode"></label>{% endcomment %}
        <a href="#" class="notification">
            <i class="bx bxs-bell"></i>
            <span class="num"></span>
        </a> 
        {% if user.is_authenticated %}
        <a href="{% url 'user_detail' %}" class="profile">
            {% if user.userdetail.profile_picture %}
            <img src="{{user.userdetail.profile_picture.url}}" alt="Profile"/>
            {%else%}
            <img src="{% static 'images/default_profile_picture.jpg' %}" alt="Profile">
            {%endif%}
        </a>
        {% else %}
        <a class="hideOnMobile" href="/login/">Login / Register</a>
        {% endif%}
    </nav>
    <!-- NAVBAR -->
</section>
<!-- CONTENT -->

<script>

    const allSideMenu = document.querySelectorAll("#sidebar .side-menu.top li a");

    allSideMenu.forEach((item) => {
        const li = item.parentElement;

        item.addEventListener("click", function () {
            allSideMenu.forEach((i) => {
                i.parentElement.classList.remove("active");
            });
            li.classList.add("active");
        });
    });

    // TOGGLE SIDEBAR
    const menuBar = document.querySelector("#content nav .bx.bx-menu");
    const sidebar = document.getElementById("sidebar");

    menuBar.addEventListener("click", function () {
        sidebar.classList.toggle("hide");
    });

    const searchButton = document.querySelector(
        "#content nav form .form-input button"
    );
    const searchButtonIcon = document.querySelector(
        "#content nav form .form-input button .bx"
    );
    const searchForm = document.querySelector("#content nav form");

    searchButton.addEventListener("click", function (e) {
        if (window.innerWidth < 576) {
            e.preventDefault();
            searchForm.classList.toggle("show");
            if (searchForm.classList.contains("show")) {
                searchButtonIcon.classList.replace("bx-search", "bx-x");
            } else {
                searchButtonIcon.classList.replace("bx-x", "bx-search");
            }
        }
    });

    if (window.innerWidth < 768) {
        sidebar.classList.add("hide");
    } else if (window.innerWidth > 576) {
        searchButtonIcon.classList.replace("bx-x", "bx-search");
        searchForm.classList.remove("show");
    }

    window.addEventListener("resize", function () {
        if (this.innerWidth > 576) {
            searchButtonIcon.classList.replace("bx-x", "bx-search");
            searchForm.classList.remove("show");
        }
    });

    {% comment %} const switchMode = document.getElementById("switch-mode");

    switchMode.addEventListener("change", function () {
        if (this.checked) {
            document.body.classList.add("dark");
        } else {
            document.body.classList.remove("dark");
        }
    }); {% endcomment %}

</script>