asgiref
certifi
cffi
charset-normalizer
cryptography
Django
django-allauth
django-allauth-2fa
django-otp
idna
oauthlib
pillow
pycparser
PyJWT
pypng
python-dotenv
qrcode
requests
requests-oauthlib
sqlparse
typing_extensions
urllib3
pyotp