{% extends '../base.html' %}
{% block content %}
{% load static %}
{% load socialaccount %}
    <div class="main-container">
        <div class="box-container">
            <div class="showcase-container">
                <img src="{% static 'images/blood-research.png' %}" alt="showcase-1">
            </div>
            <div class="login-container">
                <h2>Login</h2>
                <form action="{% url 'login'%}" method="POST">
                    {% csrf_token%}
                    <label for="username">Username: </label>
                    <input type="text" name="username" placeholder="Username:">

                    <label for="pwd">Password:</label>
                    <input type="password" name="pwd" placeholder="Password:">

                    <button>Login</button>
                    <!-- Google login -->
                    <div class="signup_link"> 
                        <span>Or</span>
                        <button class="btn_google_Login" type="button"><img class="btn-image" src="{% static 'user_auth/g-logo.png' %}" alt="G"><a href = "{% provider_login_url 'google'%}">Login in with Google</a></button>
                    </div>
                </form>
                <a href="/register">New User? Click Here</a>
            </div>
        </div>
    </div>
    {% endblock %}