{% extends '../base.html' %}
{% block content %}
{% load static %}
<div class="main-container">
    {% if form.errors %}
    <ul class="error_list">
        {% for error in form.errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
{% endif %}
    <div class="box-container">
        <div class="login-container">
            <h2>User Details Form</h2>
            <form action="{% url 'user_detail' %}" method="POST" enctype="multipart/form-data">
                {%csrf_token%}
                {{form.as_p}}
                <br />
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}