{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Auth</title>
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
        <!-- Boxicons -->
        <link
        href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
        rel="stylesheet"
      />
</head>

<body>
    {% include "./navbar/navbar.html" %}
    <div class="main-container">
    {%if messages%}
    {% for message in messages %}
    <div class="snackbar">
        <div class="content">
            <svg class="check" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                <path
                    d="M3 3H21C21.5523 3 22 3.44772 22 4V20C22 20.5523 21.5523 21 21 21H3C2.44772 21 2 20.5523 2 20V4C2 3.44772 2.44772 3 3 3ZM12.0606 11.6829L5.64722 6.2377L4.35278 7.7623L12.0731 14.3171L19.6544 7.75616L18.3456 6.24384L12.0606 11.6829Z">
                </path>
            </svg>
            <div class="message">
                {% comment %} <span class="title">Message!</span> {% endcomment %}
                <span class="text">{{message}}</span>
            </div>

            <svg class="close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                <path
                    d="M11.9997 10.5865L16.9495 5.63672L18.3637 7.05093L13.4139 12.0007L18.3637 16.9504L16.9495 18.3646L11.9997 13.4149L7.04996 18.3646L5.63574 16.9504L10.5855 12.0007L5.63574 7.05093L7.04996 5.63672L11.9997 10.5865Z">
                </path>
            </svg>
            <div class="progress"></div>
        </div>
    </div>
    {% endfor %}
    {%endif%}

    {%if form.errors%}
    {% for message in form.errors %}
    <div class="snackbar">
        <div class="content">
            <svg class="check" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                <path
                    d="M3 3H21C21.5523 3 22 3.44772 22 4V20C22 20.5523 21.5523 21 21 21H3C2.44772 21 2 20.5523 2 20V4C2 3.44772 2.44772 3 3 3ZM12.0606 11.6829L5.64722 6.2377L4.35278 7.7623L12.0731 14.3171L19.6544 7.75616L18.3456 6.24384L12.0606 11.6829Z">
                </path>
            </svg>
            <div class="message">
                {% comment %} <span class="title">Message!</span> {% endcomment %}
                <span class="text">{{message}}</span>
            </div>

            <svg class="close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                <path
                    d="M11.9997 10.5865L16.9495 5.63672L18.3637 7.05093L13.4139 12.0007L18.3637 16.9504L16.9495 18.3646L11.9997 13.4149L7.04996 18.3646L5.63574 16.9504L10.5855 12.0007L5.63574 7.05093L7.04996 5.63672L11.9997 10.5865Z">
                </path>
            </svg>
            <div class="progress"></div>
        </div>
    </div>
    {% endfor %}
    {%endif%}

    <main>
        {% block content %}

        {% endblock%}
    </main>
</div>
    <script>
        const btnShow = document.querySelector(".btn-show");
        const snackbar = document.querySelector(".snackbar");
        const btnClose = document.querySelector(".close");
        const progress = document.querySelector(".progress");
        const textElement = document.querySelector(".text");

        if (textElement.textContent.trim() !== null) {
            snackbar.classList.toggle("active");
            progress.classList.toggle("active");
            setTimeout(() => {
                snackbar.classList.remove("active");
                progress.classList.remove("active");
            }, 5000);
        }
        btnClose.addEventListener("click", () => {
            snackbar.classList.remove("active");
            progress.classList.remove("active");
        });
        /*

        function showSidebar() {
            const sidebar = document.querySelector(".sidebar");
            sidebar.style.display = "flex";
        }

        function hideSidebar() {
            const sidebar = document.querySelector(".sidebar");
            sidebar.style.display = "none";
        }
        */

    </script>
</body>

</html>