{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Auth</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/messages.css' %}">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
</head>
<body>

    {%if messages%}
        {% for message in messages %}
            <div>{{message}}</div>
        {% endfor %}
    {%endif%}

    {% block content %}

    {% endblock%}
</body>
</html>