:root {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
    background-color: #f3f3f3;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }

/* main{
    margin-top: 3rem;
} */

/* NAVBAR */
/* nav {
    background-color: #fff;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;

}

nav ul {
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 1.2rem;
}

.nav-profile-pic {
    width: 40px;
    height: auto;
    border-radius: 50%;
}

nav a:hover {
    background-color: #f6f6f6;
}

nav li:first-child {
    margin-right: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li,
.sidebar a {
    width: 100%;
}

.menu-button {
    display: none;
}


.dropdown li{
    display: block;
}

.dropdown li a{
   padding: 0;
   display: block;
}


.dropdown {
    width: 100px;
    padding: 0;
    list-style: none;
    background-color: #fff;
    width: 100%;
    position: absolute;
    z-index: 999;
    display: none;
}

.dropdown li{
    padding: 5px;
}

nav ul li:hover ul.dropdown {
    display: block;
}

@media (max-width: 800px) {
    .hideOnMobile {
        display: none;
    }

    .menu-button {
        display: block;
    }
}

@media (max-width: 400px) {
    .sidebar {
        width: 100%;
    }
} */



/* LOGIN and REG code */
.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100svh;
    width: 100svw;
    margin-top: 50px;
}

.box-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 30px;
    height: 600px;
    width: 1000px
}

.showcase-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    width: 100%;
    background-color: #e3f2fd;
    border-radius: 30px 0px 0px 30px;
}

.showcase-container>img {

    /* min-width: 50svw; */
    height: auto;
    width: 600px;
}

.login-container {
    width: 400px;
    display: flex;
    padding: 50px 60px 50px 50px;
    flex-direction: column;
    align-items: center;
}

.login-container>form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    width: 100%;
}

.login-container>form>input {
    padding: 10px;
    margin: 10px 0px;
    border: 1px black solid;
    border-radius: 10px;
}

.login-container>form>button,
.btn-submit {
    font-size: 16px;
    margin: 20px 0px;
    padding: 15px 20px;
    background-color: #2196f3;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
    transition: all 0.5s ease;
}

.login-container>form>button:hover,
.btn-submit:hover {
    background-color: #1976d2;
}

.login-container>a {
    color: black;
    text-decoration: none;
}

.column {
    display: flex;
    column-gap: 15px;
}

.column>input {
    width: 100%;
    padding: 10px;
    margin: 10px 0px;
    border: 1px black solid;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .column {
        flex-wrap: wrap;
    }
}

/* GOOGLE LOGIN */

.btn_google_Login {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    border: 1px solid black;
    text-decoration: none;
    color: #000;
    background-color: #f8f8f8;
    font-weight: bold;
    padding: 15px;
    border-radius: 10px;
    transition: all 0.5s ease;
    margin: 10px 0px 10px 0px;
    width: 100%;
}

.btn_google_Login:hover {
    background-color: #e2e1e1;
}

.btn_google_Login>img {
    height: 24px;
    width: 24px;
}

.signup_link {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.google-auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* SNACKBAR CODE */



.snackbar {
    background: #ffffff;
    padding: 20px 60px;
    position: absolute;
    top: 50px;
    border-radius: 8px;
    box-shadow: 8px 5px 10px rgba(0, 0, 0, 0.3);
    border-left: solid 6px #2196f3;
    overflow: hidden;
    transform: translateY(-200px);
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 1000;
}

.snackbar.active {
    transform: translateY(0px);
}

.content {
    display: flex;
    align-items: center;
}

.message {
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
}

/* svg {
    width: 35px;
    height: 35px;
  } */

.check {
    background-color: #2196f3;
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 7px;
}

.title {
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 5px;
}

.close {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

.close:hover {
    color: #b13a3a;
}


.progress {
    width: 100%;
    height: 5px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #ddd;
}

.progress::before {
    content: "";
    background-color: #2196f3;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.progress.active::before {
    animation: snackbar 5s linear forwards;
}

/* PROFILE SETTINGS PAGE */

.form-spacing{
    margin-top: 50px;
}

.profile-container {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(2, 1fr);
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.profile-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-pic {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.form-page {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.form-page>input {
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.form-page>button {
    background-color: #2196f3;
    padding: 20px;
    border-radius: 10px;
    border: none;
    color: #e3f2fd;
    font-weight: bold;
    font-size: 16px;
    transition: all 0.5s ease;
}

@keyframes snackbar {
    100% {
        right: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .showcase-container {
        display: none;
    }

    .login-container {
        width: 100%;
        padding: 50px;
    }

    .box-container {
        width: 90%
    }

}

/* NAVBAR + sidebar */

:root {
    --poppins: "Poppins", sans-serif;
    --lato: "Lato", sans-serif;

    --light: #f9f9f9;
    --blue: #3c91e6;
    --light-blue: #cfe8ff;
    --grey: #eee;
    --dark-grey: #aaaaaa;
    --dark: #342e37;
    --red: #db504a;
    --yellow: #ffce26;
    --light-yellow: #fff2c6;
    --orange: #fd7238;
    --light-orange: #ffe0d3;
}

html {
    overflow-x: hidden;
}

body.dark {
    --light: #0c0c1e;
    --grey: #060714;
    --dark: #fbfbfb;
}

body {
    background: var(--grey);
    overflow-x: hidden;
}

/* SIDEBAR */
#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background: var(--light);
    z-index: 2000;
    font-family: var(--lato);
    transition: 0.3s ease;
    overflow-x: hidden;
    scrollbar-width: none;
}

#sidebar::--webkit-scrollbar {
    display: none;
}

#sidebar.hide {
    width: 60px;
}

#sidebar .brand {
    font-size: 24px;
    font-weight: 700;
    height: 56px;
    display: flex;
    align-items: center;
    color: var(--blue);
    position: sticky;
    top: 0;
    left: 0;
    background: var(--light);
    z-index: 500;
    padding-bottom: 20px;
    box-sizing: content-box;
}

#sidebar .brand .bx {
    min-width: 60px;
    display: flex;
    justify-content: center;
}

#sidebar .side-menu {
    width: 100%;
    margin-top: 48px;
}

#sidebar .side-menu li {
    list-style: none;
    height: 48px;
    background: transparent;
    margin-left: 6px;
    border-radius: 48px 0 0 48px;
    padding: 4px;
}

#sidebar .side-menu li.active {
    background: var(--grey);
    position: relative;
}

#sidebar .side-menu li.active::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -40px;
    right: 0;
    box-shadow: 20px 20px 0 var(--grey);
    z-index: -1;
}

#sidebar .side-menu li.active::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom: -40px;
    right: 0;
    box-shadow: 20px -20px 0 var(--grey);
    z-index: -1;
}

#sidebar .side-menu li a {
    width: 100%;
    height: 100%;
    background: var(--light);
    display: flex;
    align-items: center;
    border-radius: 48px;
    font-size: 16px;
    color: var(--dark);
    white-space: nowrap;
    overflow-x: hidden;
}

#sidebar .side-menu.top li.active a {
    color: var(--blue);
}

#sidebar.hide .side-menu li a {
    width: calc(48px - (4px * 2));
    transition: width 0.3s ease;
}

#sidebar .side-menu li a.logout {
    color: var(--red);
}

#sidebar .side-menu.top li a:hover {
    color: var(--blue);
}

#sidebar .side-menu li a .bx {
    min-width: calc(60px - ((4px + 6px) * 2));
    display: flex;
    justify-content: center;
}

/* SIDEBAR */

/* CONTENT */
#content {
    position: relative;
    width: calc(100% - 200px);
    left: 200px;
    transition: 0.3s ease;
}

#sidebar.hide~#content {
    width: calc(100% - 60px);
    left: 60px;
}

/* NAVBAR */
#content nav {
    height: 56px;
    background: var(--light);
    padding: 0 24px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    font-family: var(--lato);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
}

#content nav::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -40px;
    left: 0;
    border-radius: 50%;
    box-shadow: -20px -20px 0 var(--light);
}

#content nav a {
    color: var(--dark);
}

#content nav .bx.bx-menu {
    cursor: pointer;
    color: var(--dark);
}

#content nav .nav-link {
    font-size: 16px;
    transition: 0.3s ease;
}

#content nav .nav-link:hover {
    color: var(--blue);
}

#content nav form {
    max-width: 400px;
    width: 100%;
    margin-right: auto;
}

#content nav form .form-input {
    display: flex;
    align-items: center;
    height: 36px;
}

#content nav form .form-input input {
    flex-grow: 1;
    padding: 0 16px;
    height: 100%;
    border: none;
    background: var(--grey);
    border-radius: 36px 0 0 36px;
    outline: none;
    width: 100%;
    color: var(--dark);
}

#content nav form .form-input button {
    width: 36px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--blue);
    color: var(--light);
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 0 36px 36px 0;
    cursor: pointer;
}

#content nav .notification {
    font-size: 20px;
    position: relative;
}

#content nav .notification .num {
    position: absolute;
    top: -6px;
    right: -6px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--light);
    background: var(--red);
    color: var(--light);
    font-weight: 700;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content nav .profile img {
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
}

#content nav .switch-mode {
    display: block;
    min-width: 50px;
    height: 25px;
    border-radius: 25px;
    background: var(--grey);
    cursor: pointer;
    position: relative;
}

#content nav .switch-mode::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: calc(25px - 4px);
    background: var(--blue);
    border-radius: 50%;
    transition: all 0.3s ease;
}

#content nav #switch-mode:checked+.switch-mode::before {
    left: calc(100% - (25px - 4px) - 2px);
}

/* NAVBAR */

/* MAIN */
#content main {
    width: 100%;
    padding: 36px 24px;
    font-family: var(--poppins);
    max-height: calc(100vh - 56px);
    overflow-y: auto;
}

#content main .head-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 16px;
    flex-wrap: wrap;
}

#content main .head-title .left h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--dark);
}

#content main .head-title .left .breadcrumb {
    display: flex;
    align-items: center;
    grid-gap: 16px;
}

#content main .head-title .left .breadcrumb li {
    color: var(--dark);
}

#content main .head-title .left .breadcrumb li a {
    color: var(--dark-grey);
    pointer-events: none;
}

#content main .head-title .left .breadcrumb li a.active {
    color: var(--blue);
    pointer-events: unset;
}

#content main .head-title .btn-download {
    height: 36px;
    padding: 0 16px;
    border-radius: 36px;
    background: var(--blue);
    color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
    font-weight: 500;
}

#content main .box-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 24px;
    margin-top: 36px;
}

#content main .box-info li {
    padding: 24px;
    background: var(--light);
    border-radius: 20px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
}

#content main .box-info li .bx {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content main .box-info li:nth-child(1) .bx {
    background: var(--light-blue);
    color: var(--blue);
}

#content main .box-info li:nth-child(2) .bx {
    background: var(--light-yellow);
    color: var(--yellow);
}

#content main .box-info li:nth-child(3) .bx {
    background: var(--light-orange);
    color: var(--orange);
}

#content main .box-info li .text h3 {
    font-size: 24px;
    font-weight: 600;
    color: var(--dark);
}

#content main .box-info li .text p {
    color: var(--dark);
}

#content main .table-data {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 24px;
    margin-top: 24px;
    width: 100%;
    color: var(--dark);
}

#content main .table-data>div {
    border-radius: 20px;
    background: var(--light);
    padding: 24px;
    overflow-x: auto;
}

#content main .table-data .head {
    display: flex;
    align-items: center;
    grid-gap: 16px;
    margin-bottom: 24px;
}

#content main .table-data .head h3 {
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
}

#content main .table-data .head .bx {
    cursor: pointer;
}

#content main .table-data .order {
    flex-grow: 1;
    flex-basis: 500px;
}

#content main .table-data .order table {
    width: 100%;
    border-collapse: collapse;
}

#content main .table-data .order table th {
    padding-bottom: 12px;
    font-size: 13px;
    text-align: left;
    border-bottom: 1px solid var(--grey);
}

#content main .table-data .order table td {
    padding: 16px 0;
}

#content main .table-data .order table tr td:first-child {
    display: flex;
    align-items: center;
    grid-gap: 12px;
    padding-left: 6px;
}

#content main .table-data .order table td img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

#content main .table-data .order table tbody tr:hover {
    background: var(--grey);
}

#content main .table-data .order table tr td .status {
    font-size: 10px;
    padding: 6px 16px;
    color: var(--light);
    border-radius: 20px;
    font-weight: 700;
}

#content main .table-data .order table tr td .status.completed {
    background: var(--blue);
}

#content main .table-data .order table tr td .status.process {
    background: var(--yellow);
}

#content main .table-data .order table tr td .status.pending {
    background: var(--orange);
}

#content main .table-data .todo {
    flex-grow: 1;
    flex-basis: 300px;
}

#content main .table-data .todo .todo-list {
    width: 100%;
}

#content main .table-data .todo .todo-list li {
    width: 100%;
    margin-bottom: 16px;
    background: var(--grey);
    border-radius: 10px;
    padding: 14px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#content main .table-data .todo .todo-list li .bx {
    cursor: pointer;
}

#content main .table-data .todo .todo-list li.completed {
    border-left: 10px solid var(--blue);
}

#content main .table-data .todo .todo-list li.not-completed {
    border-left: 10px solid var(--orange);
}

#content main .table-data .todo .todo-list li:last-child {
    margin-bottom: 0;
}

/* MAIN */
/* CONTENT */

@media screen and (max-width: 768px) {
    #sidebar {
        width: 200px;
    }

    #content {
        width: calc(100% - 60px);
        left: 200px;
    }

    #content nav .nav-link {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    #content nav form .form-input input {
        display: none;
    }

    #content nav form .form-input button {
        width: auto;
        height: auto;
        background: transparent;
        border-radius: none;
        color: var(--dark);
    }

    #content nav form.show .form-input input {
        display: block;
        width: 100%;
    }

    #content nav form.show .form-input button {
        width: 36px;
        height: 100%;
        border-radius: 0 36px 36px 0;
        color: var(--light);
        background: var(--red);
    }

    #content nav form.show~.notification,
    #content nav form.show~.profile {
        display: none;
    }

    #content main .box-info {
        grid-template-columns: 1fr;
    }

    #content main .table-data .head {
        min-width: 420px;
    }

    #content main .table-data .order table {
        min-width: 420px;
    }

    #content main .table-data .todo .todo-list {
        min-width: 420px;
    }
}