body {
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .snackbar {
    background: #f1f1f1;
    padding: 20px 60px;
    position: absolute;
    top: 50px;
    border-radius: 8px;
    box-shadow: 8px 5px 10px rgba(0, 0, 0, 0.3);
    border-left: solid 6px #3ab164;
    overflow: hidden;
    transform: translateY(-200px);
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .snackbar.active {
    transform: translateY(0px);
  }
  
  .content {
    display: flex;
    align-items: center;
  }
  
  .message {
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
  }
  
  /* svg {
    width: 35px;
    height: 35px;
  } */
  
  .check {
    background-color: #3ab164;
    color: #fff;
    border-radius: 50%;
    width: 35px;
    height: 35px;
  }
  
  .title {
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 5px;
  }
  
  .close {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
  }
  
  .close:hover {
    color: #b13a3a;
  }
  
  .btn-show {
    padding: 20px 40px;
    border: none;
    border-radius: 5px;
    background-color: #3ab164;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    outline: none;
  }
  
  .btn-show:hover {
    background-color: #2e8b57;
  }
  
  .progress {
    width: 100%;
    height: 5px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #ddd;
  }
  
  .progress::before {
    content: "";
    background-color: #3ab164;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  
  .progress.active::before {
    animation: snackbar 5s linear forwards;
  }
  
  @keyframes snackbar {
    100% {
      right: 100%;
    }
  }
  