{% extends 'base.html' %}
{% block content %}
{% load socialaccount %}
{% load static %}

        <div class="box-container">
            <div class="showcase-container">
                <img src="{% static 'images/blood-research.png' %}" alt="showcase-1">
            </div>
            <div class="login-container">
                <h2>Login</h2>
                <form method="POST">
                    {% csrf_token%}
                    {{form.login}}
                    {{form.password}}
                    <a href="/accounts/password/reset/">Forgot your password?</a>
                    <p>Remember Me: {{form.remember}}</p>

                    <button>Login</button>
                </form>
                <!-- Google login -->
                <div class="signup_link"> 
                    <span>Or</span>
                    {% comment %} <a class="btn_google_Login" href = "{% provider_login_url 'google'%}"> <img src="{% static 'images/g-logo.png' %}" alt="G" srcset=""> Login in with Google</a> {% endcomment %}
                </div>
                <a href="/accounts/signup/">New User? Click Here</a>
            </div>
        </div>
    {% endblock %}