{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="box">
<div class="login-container">

    {% if token_fail %}
        <h1>Bad Token</h1>
    {% else %}
        <h1>Change Password</h1>
    {% endif %}

    {% if token_fail %}
    <p>The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{% url 'account_reset_password' %}">new password reset</a>.</p>
    {% else %}

    <form method="post">
        {% csrf_token%}
        {{form.password1}}
        {{form.password2}}
        <button type="submit">Change Password</button>
    </form>
    <p>Please contact us if you have any trouble resetting your password.</p>
    {% endif %}
</div>
</div>
{% endblock %}