{% extends '../base.html' %}
{% block content %}
{% load socialaccount %}
{% load static %}
    <div class="box-container">
        <div class="showcase-container">
            <img src="{% static 'images/blood-research.png' %}" alt="showcase-1">
        </div>
        <div class="login-container">
            <h2>Registration</h2>
            <form method="POST">
                {%csrf_token%}
                {{form.name}}
                
                {{form.email}}

                {{form.password1}}

                {{form.password2}}
                <br />
                <button type="submit">Register</button>
            </form>
            <!-- Google login -->
            <div class="signup_link">
                <span>Or</span>
                 <a class="btn_google_Login" href="{% provider_login_url 'google'%}"> <img src="{% static 'images/g-logo.png' %}" alt="G" srcset=""> Sign up with Google</a>
            </div>
            <a href="/accounts/login">Old User? Click Here</a>
        </div>
    </div>
{% endblock %}
